<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link href="css/starter-template.css" rel="stylesheet" type="text/css">
  </head>

<body>

  <!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">Home</a>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="second_page.html">Books</a>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="thrid_page.html">The Battle</a>
  </div>
</nav>



<!--Change for books table-->
<div id="bookList" class="container">

    <table id="taskTable" class="row table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>AUTHOR</th>
          <th>YEAR PUBLISHED</th>
          <th>PUBLISHER</th>
          <th>PAGE COUNT</th>
          <th>MSRP</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books">
          <td>{{ book.Title }}</td>
          <td>{{ book.Author }}</td>
          <td>{{ book.Year_Published }}</td>
          <td>{{ book.Publisher }}</td>
          <td>{{ book.Page_Count }}</td>
          <td>{{ book.MSRP }}</td>
        </tr>
      </tbody>
    </table>
 
  <div class="row">
    <div>

      <form v-on:submit.prevent="postNewBook">
        <div class="mb-3">
          <label for="Title" class="form-label">Title</label>
          <input type="text" v-model="bookForm.Title"
           class="form-control" id="Title">
        </div>
        <div class="mb-3">
          <label for="Author" class="form-label">Author</label>
          <input type="text" v-model="bookForm.Author" class="form-control" id="Author">
        </div>
        <div class="mb-3">
          <label for="Year_Published" class="form-label">Year_Published</label>
          <input type="number" v-model="bookForm.Year_Published" class="form-control" id="Year_Published">
        </div>
        <div class="mb-3">
          <label for="Publisher" class="form-label">Publisher</label>
          <input type="text" v-model="bookForm.Publisher" class="form-control" id="Publisher">
        </div>
        <div class="mb-3">
          <label for="Page_Count" class="form-label">Page_Count</label>
          <input type="number" v-model="bookForm.Page_Count" class="form-control" id="Page_Count">
        </div>
        <div class="mb-3">
          <label for="MSRP" class="form-label">MSRP</label>
          <input type="number" v-model="bookForm.MSRP" class="form-control" id="MSRP">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

        
    </div>


  </div>
</div><br>


  <script src="js/books.js"></script>
  <script src="js/tablesort.min.js"></script>
  <script>
    new Tablesort(document.getElementById('taskTable'));
  </script>

<!--https://github.com/tristen/tablesort-->
<footer>
  <a href="index.html" > Home Page  </a>  <a href="second_page.html" > Books  </a>  <a href="thrid_page.html" > Battle of the Greenies </a>  
</footer>



<!-- Bootstrap Bundle with Popper -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>




</body>
</html>
<!--add 15 and 94-->
